/* Reset */
ul {padding:0;}
li {list-style-type:none;}

/* Base styles */
h1, h2, h3, h4, h5, h6, p, .big-margin {margin-bottom:20px;}

/* Faux tables - used to replace tables, adding a responsive dimension */
.faux-table .faux-table-head {border-bottom:1px solid #eee; padding-bottom:5px; margin-bottom:10px;}
.faux-table .faux-table-body li {padding-bottom:10px; line-height:34px;}

/* List page */
.projects li.deploy-now .countdown {color:#ff0000;}
.projects li.deploy-very-soon .countdown {color:#ff0000;}
.projects li.deploy-soon .countdown {color:#FF9900;}
.projects li.deploy-later .countdown {color:#009900;}
.countdown span {float:left;}
.countdown .days:after,
.countdown .hours:after,
.countdown .minutes:after {content:':'; padding:0 3px;}