{% extends "projects/layouts/generic.html" %}

{% block title %}List of projects{% endblock %}

{% block main %}
	
	<h1>Project List</h1>

	{% include "projects/partials/messages.html" %}

	{% if open_projects or closed_projects and show_all %}

		<p class="italic big-margin">Currently displaying 
			{{ open_projects|length }} open project{% if open_projects|length != 1 %}s{% endif %}{% if not show_all %}.{% endif %}
			{% if show_all %}
				and {{ closed_projects|length }} closed project{% if closed_projects|length != 1 %}s{% endif %}.
			{% endif %}
		</p>

		<div class="faux-table big-margin">
			<div class="faux-table-head row">
				<div class="col-xs-2 name">Name</div>
				<div class="col-xs-4 date">Deployment Date</div>
				<div class="col-xs-5 countdown">Status</div>
			</div>
			<ul class="faux-table-body projects">
				{% for project in open_projects %}
					{% include "projects/partials/project-list-item.html" with project_type="open" %}
				{% endfor %}
				{% for project in closed_projects %}
					{% include "projects/partials/project-list-item.html" with project_type="closed" %}
				{% endfor %}	
			</ul>
		</div>
	{% else %}
		<p>There are no projects to display.</p>
	{% endif %}

	<div class="well">
		<a href="{% url 'projects:create' %}" class="btn btn-primary">Create a New Project</a>&nbsp;
		{% if closed_project_count > 0 %}
			{% if show_all %}
				<a href="{% url 'projects:list' %}?show_all=false" class="btn btn-default">Hide Closed Projects</a>
			{% else %}
				<a href="{% url 'projects:list' %}?show_all=true" class="btn btn-default">Show Closed Projects</a>
			{% endif %}
		{% endif %}
	</div>

{% endblock %}

