{% extends "projects/layouts/generic.html" %}

{% block title %}List of projects{% endblock %}

{% block main %}
	
	<h1>Project List</h1>

	{% include "projects/partials/messages.html" %}

	{% if projects %}

		<p class="italic big-margin">Currently displaying 
			{{ page.start_index }} - {{ page.end_index }} of 
			{{ pagination.count }} visible project{% if pagination.count != 1 %}s{% endif %}{% if not show_all %}.{% endif %}
			{% if show_all %}
				({{ open_project_count }} open project{% if open_project_count != 1 %}s{% endif %} and 
				{{ closed_project_count }} closed project{% if closed_project_count != 1 %}s{% endif %}).
			{% endif %}
		</p>

		<div class="faux-table big-margin">
			<div class="faux-table-head row">
				<div class="col-xs-2 name">Name</div>
				<div class="col-xs-4 date">Deployment Date</div>
				<div class="col-xs-5 countdown">Status</div>
			</div>
			<ul class="faux-table-body projects">
				{% for project in projects %}
					{% include "projects/partials/project-list-item.html" %}
				{% endfor %}
			</ul>
		</div>

		{% include "projects/partials/pagination.html" %}

	{% else %}
		<p>There are no projects to display.</p>
	{% endif %}

	<div class="well">
		<a href="{% url 'projects:create' %}" class="btn btn-primary">Create a New Project</a>&nbsp;
		{% if closed_project_count > 0 %}
			{% if show_all %}
				<a href="{% url 'projects:list' %}?show_all=false{{ page.query_string }}" class="btn btn-default">Hide Closed Projects</a>
			{% else %}
				<a href="{% url 'projects:list' %}?show_all=true{{ page.query_string }}" class="btn btn-default">Show Closed Projects</a>
			{% endif %}
		{% endif %}
	</div>

{% endblock %}

