<!doctype html>
<html lang="en">
	<head>
		<title>Update project {{project.project_name}}</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Update project {{project.project_name}}</h1>
		
		{% include "projects/messages.html" %}

		<form action="{% url 'projects:update' project_id %}" method="post">
			<fieldset>
				<legend>Please complete the fields below:</legend>

				{% csrf_token %}
				
				{{form}}

				<button type="submit">Save Changes</button>
				<a href="{% url 'projects:list' %}">Back to all projects</a>
			</fieldset>
		</form>

		<form action="{% url 'projects:delete' project_id %}" method="post">
			<fieldset>
				<legend>Delete this project</legend>
				{% csrf_token %}
				<button type="submit">Delete Project</button>
			</fieldset>
		</form>
		
	</body>
</html>

