{% extends "projects/layouts/generic.html" %}

{% block title %}Update {{ form.name.value }}{% endblock %}

{% block main %}

	<h1>Update Project: {{ form.name.value }}</h1>
	
	{% include "projects/messages.html" %}

	<form action="{% url 'projects:update' project_id %}" method="post">
		<fieldset>
			<legend>Please complete the fields below:</legend>

			{% csrf_token %}
			
			{{ form.non_field_errors }}

			<div class="element">
				<label for="id_name">Project Name:</label>
				{{ form.name }}
				{{ form.name.errors }}
			</div>

			<div class="element">
				<label for="id_deployment_date">Deployment Date:</label>
				{{ form.deployment_date }}
				{{ form.deployment_date.errors }}
			</div>

			<div class="element">
				<label for="id_deployment_time">Deployment Time:</label>
				{{ form.deployment_time }}
				{{ form.deployment_time.errors }}
			</div>

			<div class="element">
				<label for="id_is_complete">Is Project Closed?</label>
				{{ form.is_complete }}
			</div>

			<button type="submit" class="btn btn-primary">Save Changes</button>
			<a href="{% url 'projects:list' %}">Back to all projects</a>
		</fieldset>
	</form>

	<form action="{% url 'projects:delete' project_id %}" method="post">
		<fieldset>
			<legend>Delete this project</legend>
			{% csrf_token %}
			<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this project?');">Delete Project</button>
		</fieldset>
	</form>

{% endblock %}