<!doctype html>
<html lang="en">
	<head>
		<title>Project Tracker: {% block title %}{% endblock %}</title>

		<meta charset="utf-8" />
		
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		
		{% block css %}{% endblock %}
	</head>
	<body>
		<div class="container">
			{% block main %}{% endblock %}
		</div>

		<script type="text/javascript" src="/static/js/vendor/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/static/js/vendor/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="/static/js/main.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>